@import "fn";

html {
  font-size:62.5%;
    -ms-text-size-adjust:62.5%;;
    -webkit-text-size-adjust:62.5%;;
}

body {
    font-size:1.4rem;
    line-height: 1.6;
    font-family: @euiFontDefault;
}

* {
    margin: 0;
    padding: 0;
}

a img {
    border: 0;
}

a {
    font-size:1.3rem;
    text-decoration: none;
    .setTapColor();
}
