@euiBtnHeight:46px;
@euiBtnFontSize:18px;
@euiBtnFontColor:#FFFFFF;
@euiBtnActiveFontColor:rgba(255,255,255,.6);
@euiBtnDisabledFontColor:rgba(255,255,255,.6);
@euiBtnBorderRadius:5px;
@euiBtnDefaultGap:15px;

@euiBtnMiniFontSize:13px;
@euiBtnMiniHeight:2.3;

@euiBtnDefaultFontColor:#000000;
@euiBtnDefaultActiveFontColor:rgba(0,0,0,.6);
@euiBtnDefaultDisabledFontColor:rgba(0,0,0,.3);

@euiBtnDefaultBg:#F8F8F8;
@euiBtnDefaultActiveBg:#DEDEDE;
@euiBtnDefaultDisabledBg:#F7F7F7;

@euiBtnPrimaryBg:#1AAD19;
@euiBtnPrimaryActiveBg:#179B16;
@euiBtnPrimaryDisabledBg:#9ED99D;

@euiBtnWarnBg:#E64340;
@euiBtnWarnActiveBg:#CE3C39;
@euiBtnwarnDisabledBg:#EC8B89;


@euiBtnPlainPrimaryColor:rgba(26,173,25,1);
@euiBtnPlainPrimaryBorderColor:rgba(26,173,25,1);
@euiBtnPlainPrimaryActiveColor:rgba(26,173,25,.6);
@euiBtnPlainPrimaryActiveBorderColor:rgba(26,173,25,.6);

@euiBtnPlainDefaultColor:rgba(53,53,53,1);
@euiBtnPlainDefaultBorderColor:rgba(53,53,53,1);
@euiBtnPlainDefaultActiveColor:rgba(53,53,53,.6);
@euiBtnPlainDefaultActiveBorderColor:rgba(53,53,53,.6);
