@import "./base/reset.less";


//@import "./icon/weui-icon_font";


// button
@import "./widget/eui-button";
@import "./widget/eui-loading";
@import "./widget/eui-input";
@import "./widget/eui-avatar";
@import "./widget/eui-list";
@import "./widget/eui-table";
@import "./widget/eui-notice";


.eui-user{
  margin-top:20px;
  .other-link{
    padding:0 15px;
    a{
      color:@brandPrimary;
    }
  }
  .eui-logo{
    padding:25px 0;
    text-align: center;
    img{
      width:80px;height:80px;
    }
  }
}
.eui-about{
  text-align: center;
  .logo{
    padding-top:100px;
    padding-bottom:10px;
    img{
      width:80px;
      height:80px;
    }
  }
  .text{
    text-align:left;
    padding:20px;
    p{
      padding:5px 0;
      text-indent: 25px;
    }
  }
}

.eui-feedback{
  textarea{
    min-height:80px;
  }
  .successtip{
    text-align: center;
    span{
      display: inline-block;
      color:@brandSuccess;
      margin-top:100px;
    }
  }
}